[MASTER]
persistent=no
ignore=qubespdfconverter/tests

[MESSAGES CONTROL]
disable=
  bare-except,
  blacklisted-name,
  deprecated-method,
  duplicate-code,
  expression-not-assigned,
  file-ignored,
  fixme,
  invalid-name,
  locally-disabled,
  missing-docstring,
  protected-access,
  too-few-public-methods,
  unused-argument,
  wrong-import-order
