[Desktop Entry]
Actions=QvmConvertFile;
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.oasis.opendocument.text;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.oasis.opendocument.spreadsheet;

[Desktop Action QvmConvertFile]
Exec=/usr/lib/qubes/qvm-convert-pdf.gnome --file %U
Icon=kget
Name=Convert to trusted PDF
