Source: qubes-pdf-converter
Section: admin
Priority: optional
Maintainer: Jason Mehring <nrgaway@gmail.com>
Build-Depends: pandoc, python3-setuptools, debhelper (>= 9)
# For the futures version of debian, delete the "compat" file, and add the line below in "Build-Depends"
# debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/QubesOS/qubes-app-linux-pdf-converter

Package: qubes-pdf-converter
Section: admin
Architecture: any
Depends: 
 poppler-utils,
 libreoffice,
 graphicsmagick,
 python3 (>= 3.7.0),
 python3-nautilus | python-nautilus,
 python3-click,
 python3-pillow,
 python3-tqdm,
 python3-magic,
 ${misc:Depends}
Description: The Qubes service for converting untrusted PDF files into trusted ones
